@page "/Naves"

@using System.Net.Http;
@using System.Text.Json;
@using System.Collections.Generic;
@using System.Linq;
@inject HttpClient httpClient

<style>
    .starships {
        margin-top: 50px;
        border: 5px solid white;
        margin-left: 10px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

        .starships:hover {
            border-color: yellow;
            box-shadow: 2px 3px 26px 0px yellow;
            color: yellow;
        }

            .starships:hover a {
                color: yellow;
            }

    .container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .botones {
        display: flex;
        justify-content: center;
    }

    .boton {
        margin: 0 5px;
    }

        .boton:hover {
            background-color: yellow;
        }

    a {
        text-decoration: none;
        color: white;
    }

        a:hover {
            color: yellow;
        }

    .textoBoton {
        color: black;
    }

        .textoBoton:hover {
            color: black;
        }

    margin: 0 5px;
    }
</style>

<h2>Starships</h2>

<div class="botones">
    <div class="buscador">
        <input type="text" class="buscar" @bind="searchstring" @bind:event="oninput" />
    </div>
    <button class="boton"><a class="textoBoton" href="Naves">1</a></button>
    <button class="boton"><a class="textoBoton" href="Naves2">2</a></button>
    <button class="boton"><a class="textoBoton" href="Naves3">3</a></button>
    <button class="boton"><a class="textoBoton" href="Naves4">4</a></button>
    <button class="boton" @onclick="MostrarDefaultStarships">Default</button>
    <button class="boton" @onclick="MostrarAscStarships">Ascendent</button>
    <button class="boton" @onclick="MostrarDescStarships">Descendent</button>
</div>

<div>
    @if (mostrarDefaultStarships)
    {
        <div class="container">
            @foreach (var starship in searchStarships)
            {
                <div class="starships">
                    @{

                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    @if (starship.name == "CR90 corvette")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/2.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/2">@starship.name</a></h3>
                    }
                    else if (starship.name == "Star Destroyer")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/3.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/3">@starship.name</a></h3>
                    }
                    else if (starship.name == "Sentinel-class landing craft")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/5.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/5">@starship.name</a></h3>
                    }
                    else if (starship.name == "Death Star")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/9.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/9">@starship.name</a></h3>
                    }
                    else if (starship.name == "Millennium Falcon")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/10.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/10">@starship.name</a></h3>
                    }
                    else if (starship.name == "Y-wing")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/11.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/11">@starship.name</a></h3>
                    }
                    else if (starship.name == "X-wing")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/12.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/12">@starship.name</a></h3>
                    }
                    else if (starship.name == "TIE Advanced x1")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/13.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/13">@starship.name</a></h3>
                    }
                    else if (starship.name == "Executor")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/15.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/15">@starship.name</a></h3>
                    }
                    else if (starship.name == "Rebel transport")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/17.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/17">@starship.name</a></h3>
                    }
                </div>
            }
        </div>
    }
    else if (mostrarAscStarships)
    {
        <div class="container">
            @foreach (var starship in AscStarships)
            {
                <div class="starships">
                    @{

                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    @if (starship.name == "CR90 corvette")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/2.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/2">@starship.name</a></h3>
                    }
                    else if (starship.name == "Star Destroyer")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/3.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/3">@starship.name</a></h3>
                    }
                    else if (starship.name == "Sentinel-class landing craft")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/5.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/5">@starship.name</a></h3>
                    }
                    else if (starship.name == "Death Star")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/9.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/9">@starship.name</a></h3>
                    }
                    else if (starship.name == "Millennium Falcon")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/10.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/10">@starship.name</a></h3>
                    }
                    else if (starship.name == "Y-wing")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/11.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/11">@starship.name</a></h3>
                    }
                    else if (starship.name == "X-wing")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/12.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/12">@starship.name</a></h3>
                    }
                    else if (starship.name == "TIE Advanced x1")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/13.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/13">@starship.name</a></h3>
                    }
                    else if (starship.name == "Executor")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/15.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/15">@starship.name</a></h3>
                    }
                    else if (starship.name == "Rebel transport")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/17.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/17">@starship.name</a></h3>
                    }
                </div>
            }
        </div>
    }
    else if (mostrarDescStarships)
    {
        <div class="container">
            @foreach (var starship in DescStarships)
            {
                <div class="starships">
                    @{

                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    @if (starship.name == "CR90 corvette")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/2.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/2">@starship.name</a></h3>
                    }
                    else if (starship.name == "Star Destroyer")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/3.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/3">@starship.name</a></h3>
                    }
                    else if (starship.name == "Sentinel-class landing craft")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/5.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/5">@starship.name</a></h3>
                    }
                    else if (starship.name == "Death Star")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/9.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/9">@starship.name</a></h3>
                    }
                    else if (starship.name == "Millennium Falcon")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/10.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/10">@starship.name</a></h3>
                    }
                    else if (starship.name == "Y-wing")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/11.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/11">@starship.name</a></h3>
                    }
                    else if (starship.name == "X-wing")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/12.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/12">@starship.name</a></h3>
                    }
                    else if (starship.name == "TIE Advanced x1")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/13.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/13">@starship.name</a></h3>
                    }
                    else if (starship.name == "Executor")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/15.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/15">@starship.name</a></h3>
                    }
                    else if (starship.name == "Rebel transport")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/17.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Nave/17">@starship.name</a></h3>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <p>No se ha seleccionado ninguna opción de orden.</p>
    }
</div>

@code {
    string searchstring = string.Empty;
    HttpRequestMessage requestMessage;
    HttpResponseMessage responseMessage;
    List<Starship> searchStarships => starships.Where(x => x.name.ToUpper().Contains(searchstring.ToUpper())).ToList();
    List<Starship> AscStarships;
    List<Starship> DescStarships;
    List<Starship> starships;
    int StarshipIndex { get; set; }

    private bool mostrarDefaultStarships = true;
    private bool mostrarAscStarships = false;
    private bool mostrarDescStarships = false;

    protected override async Task OnInitializedAsync()
    {
        starships = new List<Starship>();

        for (int i = 1; i <= 20; i++)
        {
            requestMessage = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri($"https://swapi.dev/api/starships/{i}")
                };

            responseMessage = await httpClient.SendAsync(requestMessage);

            if (responseMessage.IsSuccessStatusCode)
            {
                var responseString = await responseMessage.Content.ReadAsStringAsync();
                var starship = JsonSerializer.Deserialize<Starship>(responseString);

                starships.Add(starship);
            }
        }
    }

    private void MostrarDefaultStarships()
    {
        mostrarDefaultStarships = true;
        mostrarAscStarships = false;
        mostrarDescStarships = false;
    }

    private void MostrarAscStarships()
    {
        AscStarships = starships.OrderBy(x => x.name).ToList();
        mostrarDefaultStarships = false;
        mostrarAscStarships = true;
        mostrarDescStarships = false;
    }

    private void MostrarDescStarships()
    {
        DescStarships = starships.OrderByDescending(x => x.name).ToList();
        mostrarDefaultStarships = false;
        mostrarAscStarships = false;
        mostrarDescStarships = true;
    }

    public class Starship
    {
        public string name { get; set; }
        public string url { get; set; }
    }
}
