@page "/Personajes6"

@using System.Net.Http;
@using System.Text.Json;
@using System.Collections.Generic;
@using System.Linq;
@inject HttpClient httpClient

<style>
    .characters {
        margin-top: 50px;
        border: 5px solid white;
        margin-left: 10px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

        .characters:hover {
            border-color: yellow;
            box-shadow: 2px 3px 26px 0px yellow;
            color: yellow;
        }

            .characters:hover a {
                color: yellow;
            }

    .container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .botones {
        display: flex;
        justify-content: center;
    }

    .boton {
        margin: 0 5px;
    }

        .boton:hover {
            background-color: yellow;
        }

    a {
        text-decoration: none;
        color: white;
    }

        a:hover {
            color: yellow;
        }

    .textoBoton {
        color: black;
    }

        .textoBoton:hover {
            color: black;
        }

    margin: 0 5px;
    }
</style>

<h2>Characters</h2>

<div class="botones">
    <div class="buscador">
        <input type="text" class="buscar" @bind="searchstring" @bind:event="oninput" />
    </div>
    <button class="boton"><a class="textoBoton" href="Personajes">1</a></button>
    <button class="boton"><a class="textoBoton" href="Personajes2">2</a></button>
    <button class="boton"><a class="textoBoton" href="Personajes3">3</a></button>
    <button class="boton"><a class="textoBoton" href="Personajes4">4</a></button>
    <button class="boton"><a class="textoBoton" href="Personajes5">5</a></button>
    <button class="boton"><a class="textoBoton" href="Personajes6">6</a></button>
    <button class="boton"><a class="textoBoton" href="Personajes7">7</a></button>
    <button class="boton"><a class="textoBoton" href="Personajes8">8</a></button>
    <button class="boton"><a class="textoBoton" href="Personajes9">9</a></button>
    <button class="boton" @onclick="MostrarDefaultCharacters">Default</button>
    <button class="boton" @onclick="MostrarAscCharacters">Ascendent</button>
    <button class="boton" @onclick="MostrarDescCharacters">Descendent</button>
</div>
<div>
    @if (mostrarDefaultCharacters)
    {
        <div class="container">
            @foreach (var character in searchCharacters)
            {
                <div class="characters">
                    @{
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/characters/{characters.IndexOf(character) + 52}.jpg";
                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                    <h3><a href="Personaje/@(characters.IndexOf(character) + 52)" @onclick="() => CharacterIndex = characters.IndexOf(character) + 52">Name: @(string.IsNullOrEmpty(character.name) ? "No information available" : character.name)</a></h3>
                </div>
            }
        </div>
    }
    else if (mostrarAscCharacters)
    {
        <div class="container">
            @foreach (var character in AscCharacters)
            {
                <div class="characters">
                    @{
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/characters/{characters.IndexOf(character) + 52}.jpg";
                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                    <h3><a href="Personaje/@(characters.IndexOf(character) + 52)" @onclick="() => CharacterIndex = characters.IndexOf(character) + 52">Name: @(string.IsNullOrEmpty(character.name) ? "No information available" : character.name)</a></h3>
                </div>
            }
        </div>
    }
    else if (mostrarDescCharacters)
    {
        <div class="container">
            @foreach (var character in DescCharacters)
            {
                <div class="characters">
                    @{
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/characters/{characters.IndexOf(character) + 52}.jpg";
                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                    <h3><a href="Personaje/@(characters.IndexOf(character) + 52)" @onclick="() => CharacterIndex = characters.IndexOf(character) + 52">Name: @(string.IsNullOrEmpty(character.name) ? "No information available" : character.name)</a></h3>
                </div>
            }
        </div>
    }
    else
    {
        <p>No se ha seleccionado ninguna opción de orden.</p>
    }
</div>

@code {
    string searchstring = string.Empty;
    HttpRequestMessage requestMessage;
    HttpResponseMessage responseMessage;
    List<Character> searchCharacters => characters.Where(x => x.name.ToUpper().Contains(searchstring.ToUpper())).ToList();
    List<Character> AscCharacters;
    List<Character> DescCharacters;
    List<Character> characters;
    int CharacterIndex { get; set; }

    private bool mostrarDefaultCharacters = true;
    private bool mostrarAscCharacters = false;
    private bool mostrarDescCharacters = false;

    protected override async Task OnInitializedAsync()
    {
        characters = new List<Character>();

        for (int i = 52; i <= 61; i++)
        {
            requestMessage = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri($"https://swapi.dev/api/people/{i}")
                };

            responseMessage = await httpClient.SendAsync(requestMessage);

            if (responseMessage.IsSuccessStatusCode)
            {
                var responseString = await responseMessage.Content.ReadAsStringAsync();
                var character = JsonSerializer.Deserialize<Character>(responseString);

                characters.Add(character);
            }
        }
    }

    private void MostrarDefaultCharacters()
    {
        mostrarDefaultCharacters = true;
        mostrarAscCharacters = false;
        mostrarDescCharacters = false;
    }

    private void MostrarAscCharacters()
    {
        AscCharacters = characters.OrderBy(x => x.name).ToList();
        mostrarDefaultCharacters = false;
        mostrarAscCharacters = true;
        mostrarDescCharacters = false;
    }

    private void MostrarDescCharacters()
    {
        DescCharacters = characters.OrderByDescending(x => x.name).ToList();
        mostrarDefaultCharacters = false;
        mostrarAscCharacters = false;
        mostrarDescCharacters = true;
    }

    public class Character
    {
        public string name { get; set; }
    }
}