@page "/Vehículos2"

@using System.Net.Http;
@using System.Text.Json;
@using System.Collections.Generic;
@inject HttpClient httpClient

<style>
    .vehicles {
        margin-top: 50px;
        border: 5px solid white;
        margin-left: 10px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

        .vehicles:hover {
            border-color: yellow;
            box-shadow: 2px 3px 26px 0px yellow;
            color: yellow;
        }

            .vehicles:hover a {
                color: yellow;
            }

    .container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .botones {
        display: flex;
        justify-content: center;
    }

    .boton {
        margin: 0 5px;
    }

        .boton:hover {
            background-color: yellow;
        }

    a {
        text-decoration: none;
        color: white;
    }

        a:hover {
            color: yellow;
        }

    .textoBoton {
        color: black;
    }

        .textoBoton:hover {
            color: black;
        }
</style>

<h2>Vehicles</h2>

<div class="botones">
    <div class="buscador">
        <input type="text" class="buscar" @bind="searchstring" @bind:event="oninput" />
    </div>
    <button class="boton"><a class="textoBoton" href="Vehículos">1</a></button>
    <button class="boton"><a class="textoBoton" href="Vehículos2">2</a></button>
    <button class="boton"><a class="textoBoton" href="Vehículos3">3</a></button>
    <button class="boton"><a class="textoBoton" href="Vehículos4">4</a></button>
    <button class="boton" @onclick="MostrarDefaultVehicles">Default</button>
    <button class="boton" @onclick="MostrarAscVehicles">Ascendent</button>
    <button class="boton" @onclick="MostrarDescVehicles">Descendent</button>
</div>
<div>
    @if (mostrarDefaultVehicles)
    {
        <div class="container">
            @foreach (var vehicle in searchVehicles)
            {
                <div class="vehicles">
                    @{

                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    @if (vehicle.name == "Bantha-II cargo skiff")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/25.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/25">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "TIE/IN interceptor")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/26.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/26">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Imperial Speeder Bike")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/30.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/30">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Vulture Droid")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/33.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/33">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Multi-Troop Transport")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/34.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/34">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Armored Assault Tank")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/35.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/35">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Single Trooper Aerial Platform")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/36.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/36">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "C-9979 landing craft")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/37.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/37">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Tribubble bongo")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/38.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/38">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Sith speeder")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/42.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/42">@vehicle.name</a></h3>
                    }
                </div>
            }
        </div>
    }
    else if (mostrarAscVehicles)
    {
        <div class="container">
            @foreach (var vehicle in AscVehicles)
            {
                <div class="vehicles">
                    @{

                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    @if (vehicle.name == "Bantha-II cargo skiff")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/25.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/25">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "TIE/IN interceptor")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/26.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/26">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Imperial Speeder Bike")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/30.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/30">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Vulture Droid")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/33.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/33">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Multi-Troop Transport")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/34.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/34">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Armored Assault Tank")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/35.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/35">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Single Trooper Aerial Platform")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/36.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/36">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "C-9979 landing craft")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/37.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/37">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Tribubble bongo")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/38.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/38">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Sith speeder")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/42.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/42">@vehicle.name</a></h3>
                    }
                </div>
            }
        </div>
    }
    else if (mostrarDescVehicles)
    {
        <div class="container">
            @foreach (var vehicle in DescVehicles)
            {
                <div class="vehicles">
                    @{

                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    @if (vehicle.name == "Bantha-II cargo skiff")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/25.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/25">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "TIE/IN interceptor")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/26.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/26">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Imperial Speeder Bike")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/30.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/30">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Vulture Droid")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/33.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/33">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Multi-Troop Transport")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/34.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/34">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Armored Assault Tank")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/35.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/35">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Single Trooper Aerial Platform")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/36.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/36">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "C-9979 landing craft")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/37.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/37">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Tribubble bongo")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/38.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/38">@vehicle.name</a></h3>
                    }
                    else if (vehicle.name == "Sith speeder")
                    {
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/vehicles/42.jpg";
                        <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                        <h3><a href="Vehículo/42">@vehicle.name</a></h3>
                    }
                </div>
            }
        </div>
    }
</div>

@code {
    string searchstring = string.Empty;
    HttpRequestMessage requestMessage;
    HttpResponseMessage responseMessage;
    List<Vehicles> searchVehicles => vehicles.Where(x => x.name.ToUpper().Contains(searchstring.ToUpper())).ToList();
    List<Vehicles> AscVehicles;
    List<Vehicles> DescVehicles;
    List<Vehicles> vehicles;
    public int VehicleIndex { get; set; }

    private bool mostrarDefaultVehicles = true;
    private bool mostrarAscVehicles = false;
    private bool mostrarDescVehicles = false;

    protected override async Task OnInitializedAsync()
    {
        vehicles = new List<Vehicles>();

        for (int i = 25; i <= 42; i++)
        {
            requestMessage = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri($"https://swapi.dev/api/vehicles/{i}")
                };

            responseMessage = await httpClient.SendAsync(requestMessage);

            if (responseMessage.IsSuccessStatusCode)
            {
                var responseString = await responseMessage.Content.ReadAsStringAsync();
                var vehicle = JsonSerializer.Deserialize<Vehicles>(responseString);

                vehicles.Add(vehicle);
            }
        }
    }

    private void MostrarDefaultVehicles()
    {
        mostrarDefaultVehicles = true;
        mostrarAscVehicles = false;
        mostrarDescVehicles = false;
    }

    private void MostrarAscVehicles()
    {
        AscVehicles = vehicles.OrderBy(x => x.name).ToList();
        mostrarDefaultVehicles = false;
        mostrarAscVehicles = true;
        mostrarDescVehicles = false;
    }

    private void MostrarDescVehicles()
    {
        DescVehicles = vehicles.OrderByDescending(x => x.name).ToList();
        mostrarDefaultVehicles = false;
        mostrarAscVehicles = false;
        mostrarDescVehicles = true;
    }

    public class Vehicles
    {
        public string name { get; set; }
        public string url { get; set; }
    }
}
